.header-full .search_container section.search .search-form .form-group input {
    height: 50px;
    border: 3px solid #306a2f !important;
}

  /* Banner Roll Overs */

.page-content a > img{
    transition:0.35s opacity;
}
.page-content a:hover > img{
    opacity:0.7;
}

/* Talk To An Expert */

.bannerExpert2{
	padding: 20px;
	width: 100%;
	border-radius: 4px;
	position:relative;
	display: flex;
  	justify-content: space-between;
    align-items: center;
  	margin-left: auto;
  	margin-right: auto;
    margin-bottom:50px;
	margin-top:50px;
    background-color: #306a2f;
}
.buttonExpert2{
	border:none;
	border-radius:4px;
	background-color: #f2f1ed;
	font-weight: 600;
	color: black;
	text-transform: uppercase;
	padding: 15px 35px 15px 35px;
	transition-duration: 0.2s;
}
.buttonExpert2:hover{
	background-color: #30a22f;
	color: white;
}
.bannerTxtExpert2{
	text-align: left;
	font-weight: medium;
	font-size: 25px;
  	color:white;
}


/* Navigation Styling */
.nav1 a {
  text-decoration: none;
}

nav {
	  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.nav1 ul {
  background: #306a2f;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.nav1 li {
	color: #fff;
  background: #306a2f;
	display: block;
	float: left;
	padding: 1rem;
	position: relative;
	text-decoration: none;
  transition-duration: 0.5s;  
}
  
.nav1 li a {
  color: #fff;
}

.nav1 li:hover,
.nav1 li:focus-within {
	background: #eef227;
	cursor: pointer;
	font-weight: 800;
}

.nav1 li:focus-within a {
  outline: none;
}

.nav1 ul li ul {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.nav1 ul li:hover > ul,
.nav1 ul li:focus-within > ul,
.nav1 ul li ul:hover,
.nav1 ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

.nav1 ul li ul li {
  clear: both;
  width: 100%;
}

.menu ul.catalog>li>a {
    max-width: none;
    font-size: 1.2em !important;
}

/* submenu styling */
.submenu {
	border-top-right-radius: 3rem !important;
	border-bottom-right-radius: 3rem !important;
	border-bottom-left-radius: 3rem !important;
	width: 350px !important; 
	position: relative !important;
}

.has-submenu {
	width: 125px;
}

li.has-submenu {
	max-height: 2rem;
}

.submenucontainer {
	height: 35% !important; 
}

.menu .catalog li:hover a {
    text-decoration: none;
    color: #30a22f !important;
    background-color:white;;
}*/

.main-nav {
  text-align: right;
}

/* End of Navigation Styling */

.ugb-team-member__buttons {
  display:none;
}

/* Matt's Sandbox */
.main {
  margin: auto;
}


.vertical-align {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.site-branding {
	display: flex;
	width: 100%;
}
.site-branding .custom-logo-link {
	position: absolute;
	z-index:10;
}

.custom-logo-link {
	display: inline-block;
	margin-left: none;
}

.site-branding img {
	max-width: 135px;
	background-color: white;
	padding: 5px;
	border-radius: 50%;
	top: -1px;
	left: 2rem;
}

.site-branding {
	height: 6 rem;
}

.site-title {
	width: 100%;
}

.site-title a {
	color: white;
	margin-left: 200px;
	height: 5rem;
}

.menu .catalog-block {
	border:none !important;
}

.search_container {
	width: 33% !important;
	margin-left:10%;
	flex-grow: 0 !important;
}

.headersection-1 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100% !important;
}

.headersection-3 {
	border-bottom: 3px solid #306a2f;
	width: 100%;
}


.topCategories {
    text-align: center !important;
    font-size: larger;
}

.ctct-gdpr-text {
	display: none;
}
.searchlist_hd {
	font-size: larger;
}

/*.youtube-video {
	aspect-ratio: 16/9;
	width: 98%;
}*/

.fa {
	font-size: larger;
}

.minicart_container {
	margin-right: 5rem;
}

.contactform_container {
	padding: 5rem;
	padding-left: 2rem
}

.telephone {
	text-align: right;
	color: white;
}

.button {
	font-family: 'Raleway',sans-serif;
    font-weight: bold;
    font-size: larger;
    padding: .5rem;
    background: #306a2f;
    border: 1px solid #52c349 !important;
}
.button-container {
	margin-top: 2rem;
}
.section {
	margin: 2rem;
}

.header__item {
	background-color: #306a2f !important;
	background-attachment:fixed;
	background-image:url(https://saratogaqualityhardware.com/wp-content/uploads/2020/05/paint-consult-still.jpg);
	height: 364px;
	display: flex;
	justify-content: center;
	align-items: center;
	}
.header__item:before {
	background-color:#306a2f !important;
        opacity: 0.5;
}
.header__title {
	color: #ffffff !important;
	}
.header {
	margin-top: 0px !important;
	margin-bottom: 20px;
	}
.has-background-overlay {
	background-position: 50%;
	background-size: cover;
	position: relative;
	z-index: 1;
	opacity: 0.7;
}
.block-content {
	flex: 0 0 200px;
	font-size: x-large;
}

h3.section {
	color: black;
}


.section {
	margin: 1rem 0;
}

.product-summary .product-brand img {
    max-width: 300px;
    max-height: 100px !important;
}

.itemgroup {
	border-top: 4px double black;
	margin-top: 1rem;

}

#logo_141220{
	display:none;
}

p {
	padding: 5px !important;
}

.sidebarms, .top_categories {
	border: thin solid gray;
	padding: 1rem;
	margin-bottom: 1rem;
}

.quicklinks {
	font-weight: 600;
}

.contact_form {
	margin-left: 15rem;
}

.contact_table td {
	padding: 1rem;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.imageslider_wrapper {
	box-shadow: -10px 10px lightgray;
}

.grid-containerX {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  padding: 3px;
  margin-left: 10%;
}
.grid-item {
  padding: 3px;
  text-align: left;
  max-width: 380px;
}

.prem_lumb {
  background-image: url('https://us.evocdn.io/dealer/1350/content/media/lumber-yard-inside.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 300px;
  height: 300px;
}

.lum_desc {
	border: thin solid gray;
	width: 50%;
        margin-left: 10%;
	margin-bottom: 0.3rem;
}

.lum_desc p {
	font-size: 11px;
	color: #808080;
	padding: 0.4rem;
	line-height: 12px;
	margin-block-start: 0.3rem !important;
	margin-block-end: 0.3rem !important;;
}

.lumb_type {
	border-bottom: thin solid black;
	clear: right;
	height: auto;
}

.lumb_img {
	margin: 1rem;
	float: right;
}

.lumb_type::after {
    content: "";
    display: table;
    clear: both;
}

.merchandisingcontent_container .catalog-single {
    padding: 0 0 0px !important;
}

.catalog-single.has-carousel .tile, .catalog-single.has-grid .tile {
    margin: 0px auto !important;
}

#ccform {
	width: 80%;
}

#shipping p {
   font-weight: bold;
   color: #306a2f;
   text-align: center;
}

.minicart_container {
	margin-right: 0;
}

/* Responsive Breakpoints */
@media only screen and (max-width: 600px) {
	.current-branch-banner {
		padding: 1.24rem;
	}
}

@media only screen and (max-width: 1366px) {
	.menu.expanded .catalog>li>ul.submenu>div>li {
		width: 80%;
	}
}
}
